# Slackmoji

My personal collection of Slackmoji.

## Sources

* Application icons were extracted from the original macOS apps.
* Mac, iPhone, iPad, Apple TV, and Apple Watch hardware icons were extracted from the Finder.
* Animoji from iPhone X and iOS 12.
* Atlassian HipChat
* [Activity](https://itunes.apple.com/us/app/activity/id1208224953?mt=8)
* [Adult Swim Keyboard](https://itunes.apple.com/us/app/adult-swim-keyboard/id1122080915?mt=8)
* [Classic Mac](https://itunes.apple.com/us/app/classic-mac/id1127542169?mt=8)
* [Spider-Man Game Stickers](https://itunes.apple.com/us/app/spider-man-game-stickers/id1434499797?mt=8)
* [Super Mario Run](https://itunes.apple.com/us/app/super-mario-run/id1145275343?mt=8)
* [Zelda: Breath of the Wild](https://itunes.apple.com/us/app/zelda-breath-of-the-wild/id1321192590?mt=8)
* And by pilfering other people's collections online.

## Slackmoji

